@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

html,
body {
  overflow: hidden;
  color: white;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}

/* スタイリング */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
}

header .logo {
  font-size: 35px;
  text-shadow: 0px 1px 7px black;
}

header ul {
  list-style: none;
}

header ul li {
  display: inline-block;
  margin-right: 25px;
}

header ul li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
}

main {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 1px 1px 10px black;
}

main h1 {
  font-size: 5rem;
  white-space: nowrap;
  letter-spacing: 0;
  margin-bottom: 25px;
}

main p {
  font-size: 20px;
}

main button {
  padding: 20px 50px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  box-shadow: 1px 1px 10px black;
  cursor: pointer;
}
